<div class="navbar">
  <img src="https://img.freepik.com/premium-vector/cook-book-logo-template_649756-25.jpg">
  <div>
    <%= link_to "Home", root_path%>
    <%= link_to "create a category", new_category_path %>
  </div>
</div>
