.banner{
  display:flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height:300px;
  color:#ffffff;
}

.h1, h3{
  color:white;
  margin-left:40px;
  font-weight:400;
  text-align: center;
}
