.categories{
  background-color:#ffffff;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}


.categories a{
  background-color: orange;
  color:white;
  padding:16px;
  text-decoration: none;
}

h2, p{
  color:white;
}

.card{
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
  color:#ffffff;
  height:470px;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom:70px;
  background-color: #ffffff;
  padding-bottom:20px;
  justify-content: center;
}
.card #recipe-images{
  width:230px;
  height:200px;
  display: flex;
  justify-content: center;
}

.card-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px;
}

.row .justify-content-between .card-list-2 {
  display: grid;
  gap:20px;
  width:430px;
  margin: 10px auto;
  background-color: #ffffff;
}
.container{
  width:85%;

}
.card a{
  background-color: orange;
  text-decoration: none;
  display:block;
  padding-bottom: 30px;
  color:#ffffff;
  padding-top: 41px;
}
.name-description{
  color:black;
}

.comment-rating{
color:black;
display: block;
width:320px;
padding-top:10px;
margin-bottom:0;
position: relative;
top:5px;
text-align: center;
}

body{
  background-color: #ffffff;
}

.form-category {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #ffffff;

  display:flex;
  width:500px;
  margin: 0 auto;
  position: relative;
  top:100px;
}
.form-category input[type="submit"]{
  background-color: orange;
  margin:5px;
  border:none;
  border-radius: 5px;
}
/* On mouse-over, add a deeper shadow */
.card:hover, .form-category {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.form-category .container{
  padding: 16px;
}
/* Add some padding inside the card container */
.container {
  padding: 16px;
}
